footer p{
    text-align: center;
    padding: 30px 0px;
    color:white ;
    --weightnormalfont:400;
    font-weight: 300;
}
footer p a{
    color: white;
    transition: all .3s;
}
footer p a :hover{
    color: var(--color-primary);
}